{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "no-unused-vars": 0,
    "react/no-unescaped-entities": 0
  },
  "globals": {
    "process": true
  },
  "parser": "babel-eslint"
}
