/* For screen 992px above */
@media (min-width: 992px) {
  .emptyPromo {
    font-size: 2em !important;
    padding: 2em !important;
  }
  .container {
    flex-direction: row !important;
    font-size: 0.6em !important;
  }
  .coupons {
    flex-direction: column;
    gap: 2em !important;
    height: 60vh !important;
  }
  .coupon {
    padding: 1em !important;
  }
  .coupon img {
    height: 6em !important;
  }
  .coupon h6 {
    font-size: 1em !important;
    margin: 0;
    width: 100% !important;
  }
  .coupon span {
    font-size: 0.9em !important;
  }
  .products,
  .promoSection {
    padding: inherit 4em !important;
  }
  .products {
    width: 65% !important;
  }
  .productList {
    padding: 12em 0 5em !important;
  }
  .promoSection {
    width: 35% !important;
    border-bottom: none !important;
    border-right: 0.5px solid #9f9f9f;
  }
  .promoSection button {
    margin-top: 3em !important;
  }
  .promoSection .head {
    margin-bottom: 5em !important;
  }
  .promoSection .head p {
    width: 80% !important;
  }
  .termsCondition {
    margin-top: 7em !important;
  }
}

/* For screen 1200px above */
@media (min-width: 1200px) {
  .container {
    font-size: 0.7em !important;
  }
  .products,
  .promoSection {
    padding: inherit 5em !important;
  }
  .promoSection {
    width: 30% !important;
  }
  .promoSection .head p {
    width: 90% !important;
  }
}

/* For small device 992px below */
.addNewProduct {
  padding: 1.2em;
  width: 100%;
}
.container {
  padding-top: 7em;
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
}
.coupons {
  display: flex;
  gap: 1em;
  height: 100px;
  overflow: auto;
  padding: 0 0 2em;
  scrollbar-width: none;
  width: 100%;
}
.coupons::-webkit-scrollbar {
  display: none;
}
.coupon {
  align-items: center;
  background-color: #88b788;
  border-radius: 20px;
  display: flex;
  padding: 1em 2em;
}
.coupon img {
  height: 100%;
  margin-right: 0.5em;
}
.coupon h6 {
  font-size: 1.5em;
  width: 45vw;
}
.coupon span,
.promoSection .head p {
  font-weight: 600;
}
.coupon span {
  display: inline-block;
  font-size: 1.2em;
}
.coupon,
.cardProduct {
  position: relative;
}
.cardProduct .actionBtn {
  bottom: -1em;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.cardProduct .delete {
  background-color: #ff2339;
  border-radius: 50%;
  bottom: -0.8em;
  cursor: pointer;
  display: grid;
  padding: 0.5em;
  place-items: center;
}
.cardProduct .edit {
  background-color: #6a4029;
  border-radius: 50%;
  bottom: -0.8em;
  cursor: pointer;
  display: grid;
  padding: 0.5em;
  place-items: center;
}
.coupon .delete {
  background-color: #ff2339;
  border-radius: 50%;
  bottom: -0.8em;
  cursor: pointer;
  display: grid;
  padding: 0.5em;
  place-items: center;
  position: absolute;
  right: 2.5em;
}
.coupon .edit {
  background-color: #6a4029;
  border-radius: 50%;
  bottom: -0.8em;
  cursor: pointer;
  display: grid;
  padding: 0.5em;
  place-items: center;
  position: absolute;
  right: 0;
}
.coupon h6,
.promoSection .head h1,
.termsCondition h2 {
  font-weight: 700;
}
.products,
.promoSection {
  padding: 5em 3em !important;
}
.cardProduct {
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 10px 25px 0px #3939391a;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: 3em 1.5em;
}
.cardProduct h5 {
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  width: 70%;
}
.cardProduct span {
  color: #6a4029;
  font-size: 1.2em;
  font-weight: 700;
}
.cardProduct .imgContainer {
  border: 0.5px solid #c7c7c7;
  border-radius: 50%;
  box-shadow: 0px 30px 60px 0px #3939391a;
  height: 10em;
  margin-top: -6em;
  margin-bottom: 1.5em;
  width: 10em;
  position: relative;
}
.cardProduct .imgContainer img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.category {
  display: flex;
  gap: 3em !important;
  height: fit-content;
  overflow: auto;
  scrollbar-width: none;
  width: 100%;
}
.category::-webkit-scrollbar {
  display: none;
}
.category h4 {
  color: #797979;
  cursor: pointer;
  font-size: 1.5em;
  margin: 0;
  padding: 0 1em;
  height: 100%;
  white-space: nowrap;
}
.activeCategory {
  color: #6a4029 !important;
  font-weight: 700;
  padding-bottom: 0.5em !important;
  position: relative;
}
.activeCategory::after {
  background-color: #6a4029;
  border-radius: 50px;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0.15em;
  left: 0;
  position: absolute;
}
.emptyPromo {
  border: 2px solid #c7c7c7;
  border-radius: 10px;
  color: #c7c7c7;
  display: grid;
  place-items: center;
  font-size: 1.2em;
  font-weight: 700;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}
.productList {
  padding: 5em 0 10em !important;
}
.productList .row {
  row-gap: 8em;
}
.promoSection {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid #9f9f9f;
}
.promoSection button {
  border-radius: 10px !important;
  font-size: 1em;
  margin-top: 1.5em;
  padding: 1em;
  width: 100%;
}
.promoSection .head {
  /* text-align: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
}
.promoSection .head h1 {
  color: #6a4029;
  font-size: 2.5em;
  text-align: center;
}
.promoSection .head p {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  width: 70%;
}
.searchBar {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  margin: 4em 0;
}
.searchBar .searchBtn {
  align-items: center;
  border: 1px solid #c4c4c4;
  color: #3a3d42;
  font-size: 1.8em;
  display: flex;
  padding: 0.5em;
}
.searchBtn:hover {
  background-color: #ffba33;
  border: 1px solid #ffba33;
  color: #ffffff;
}
.searchBar .sortBtn button {
  height: 100%;
}
.searchBar button {
  border-radius: 5px !important;
  font-size: 1.2em;
  padding: inherit 1em;
}
.termsCondition {
  margin-top: 2.5em;
}
.termsCondition h2,
.termsCondition ol li {
  font-size: 1.2em;
}
.termsCondition ol {
  padding-left: 1.2em; /* it must have the same size with <li> font size*/
}
.pagination {
  font-size: 1.2em;
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #ffba33 !important;
  box-shadow: 0px 8px 16px rgba(255, 187, 51, 0.24);
  border-color: none !important ;
  border-radius: 8px;
  color: #fff !important;
}
.pagination ul {
  padding-left: 0 !important;
}
.pagination > li > a {
  background-color: #ffffff;
  border: 0.5px solid #dedede;
  padding: 9px 15px;
  height: 500px;
  margin: 0 8px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
.pagination > li:last-child > a,
.pagination > li:first-child > a {
  border: none !important;
  background-color: transparent !important;
  display: none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #ffba33;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
