/* For screen 992px above */
@media (min-width: 992px) {
  .container {
    flex-direction: row !important;
    font-size: 0.6em !important;
  }
  .coupons {
    flex-direction: column;
    gap: 1em !important;
    height: 60vh !important;
  }
  .coupon {
    cursor: pointer;
    padding: 1em !important;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
  }
  .coupon:hover {
    box-shadow: -4px 4px 5px 0px rgba(57, 57, 57, 0.25);
    transform: translateX(0.5em);
  }
  .coupon img {
    height: 6em !important;
  }
  .coupon h6 {
    font-size: 1em !important;
    margin: 0;
    width: 100% !important;
  }
  .coupon span {
    font-size: 0.9em !important;
  }
  .products,
  .promoSection {
    padding: inherit 4em !important;
  }
  .products {
    width: 65% !important;
  }
  .productList {
    padding: 12em 0 !important;
  }
  .promoSection {
    width: 35% !important;
    border-bottom: none !important;
    border-right: 0.5px solid #9f9f9f;
  }
  .promoSection button {
    margin-top: 3em !important;
  }
  .promoSection .head {
    margin-bottom: 5em !important;
  }
  .promoSection .head p {
    width: 80% !important;
  }
  .termsCondition {
    margin-top: 7em !important;
  }
  .selectedCoupon {
    box-shadow: -4px 4px 5px 0px rgba(57, 57, 57, 0.25);
    transform: translateX(0.5em);
  }
}

/* For screen 1200px above */
@media (min-width: 1200px) {
  .container {
    font-size: 0.7em !important;
  }
  .products,
  .promoSection {
    padding: inherit 5em !important;
  }
  .promoSection {
    width: 30% !important;
  }
  .promoSection .head p {
    width: 90% !important;
  }
}

/* For small device 992px below */
.container {
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
}
.coupons {
  display: flex;
  gap: 2em;
  height: 100px;
  overflow: auto;
  padding: 0.5em;
  /*For disabling scroll bar in mozilla*/
  scrollbar-width: none;
  /*===*/
  width: 100%;
}

/* Disabling scroll bar in chrome, opera, edge, safari, etc */
.coupons::-webkit-scrollbar {
  display: none;
}
/* === */

.coupon {
  align-items: center;
  background-color: #88b788;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  padding: 1em 2em;
  transition: box-shadow 0.2s ease-in-out;
}
.coupon:hover {
  box-shadow: 0 0px 30px 0px rgba(57, 57, 57, 0.25);
}
.coupon img {
  height: 100%;
  margin-right: 0.5em;
}
.coupon h6 {
  font-size: 1.5em;
  width: 45vw;
}
.coupon span,
.promoSection .head p {
  font-weight: 600;
}

.coupon span {
  display: inline-block;
  font-size: 1.2em;
}
.coupon h6,
.promoSection .head h1,
.termsCondition h2 {
  font-weight: 700;
}
.products,
.promoSection {
  padding: 12em 3em !important;
}

.cardProduct {
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 10px 25px 0px #3939391a;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 3em 1.5em;
  transition: transform 0.2s ease-in;
}
.cardProduct:hover {
  transform: translateY(-0.5em);
}
.cardProduct h5 {
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  width: 70%;
}
.cardProduct span {
  color: #6a4029;
  font-size: 1.2em;
  font-weight: 700;
}
.cardProduct .imgContainer {
  border: 0.5px solid #c7c7c7;
  border-radius: 50%;
  box-shadow: 0px 30px 60px 0px #3939391a;
  height: 10em;
  margin-top: -6em;
  margin-bottom: 1.5em;
  width: 10em;
  position: relative;
}
.cardProduct .imgContainer img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.category {
  display: flex;
  gap: 3em !important;
  height: fit-content;
  overflow: auto;
  scrollbar-width: none;
  width: 100%;
}
.category::-webkit-scrollbar {
  display: none;
}
.category h4 {
  color: #797979;
  cursor: pointer;
  font-size: 1.5em;
  margin: 0;
  padding: 0 1em;
  height: 100%;
  white-space: nowrap;
}
.activeCategory {
  color: #6a4029 !important;
  font-weight: 700;
  padding-bottom: 0.5em !important;
  position: relative;
}
.activeCategory::after {
  background-color: #6a4029;
  border-radius: 50px;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0.15em;
  left: 0;
  position: absolute;
}
.productList {
  padding: 10em 0;
}
.productList .row {
  row-gap: 8em;
}
.promoSection {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid #9f9f9f;
}
.promoSection button {
  border-radius: 10px !important;
  font-size: 1em;
  margin-top: 1.5em;
  padding: 1em;
  width: 100%;
}
.promoSection .head {
  /* text-align: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
}
.promoSection .head h1 {
  color: #6a4029;
  font-size: 2.5em;
  text-align: center;
}
.promoSection .head p {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  width: 70%;
}
.termsCondition {
  margin-top: 2.5em;
}
.termsCondition h2,
.termsCondition ol li {
  font-size: 1.2em;
}
.termsCondition ol {
  padding-left: 1.2em; /* it must have the same size with <li> font size*/
}
.selectedCoupon {
  border: 1.5px solid #6a4029;
  box-shadow: 0 0px 30px 0px rgba(57, 57, 57, 0.25);
}
