/* For screen 576px above */
@media (min-width: 576px) {
  .container button {
    padding: 2em !important;
  }
}

/* For small screen 576px below */
.container {
  text-align: center;
  font-size: 62.5%;
  padding: 15em 10em 0;
}
.container h1 {
  color: #6a4029;
  font-weight: 700;
}
.container .chartContainer {
  margin: 5em 0;
}
.container button {
  padding: 1em;
  width: 100%;
}
