/* For screen 576px above */
@media (min-width: 576px) {
  .container button {
    padding: 2em !important;
  }
}

/* For screen 768px above */
@media (min-width: 768px) {
  .container {
    padding: 15em 10em 0 !important;
  }
}

/* For small screen 576px below */
.container {
  text-align: center;
  font-size: 62.5%;
  padding: 15em 3em 0;
}
.container h1 {
  color: #6a4029;
  font-weight: 700;
}
.filter {
  width: 20%;
  margin-top: 10em;
}
.filter button {
  border: 1px solid #6a4029;
  font-size: 1.2em;
  padding: 0.5em 0 !important;
}
.container .chartContainer {
  margin: 5em 0;
}
.container button {
  padding: 1em;
  width: 100%;
}
