html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Overide bootstrap btn style */
.btn {
  border-radius: 20px;
  font-weight: 700;
}

.btn-primary {
  background-color: #ffba33;
  border-color: #ffba33;
  color: #6a4029;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-secondary {
  background-color: #6a4029;
  border-color: #6a4029;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #412719;
  border-color: #412719;
}
