.actionBtn {
  display: none;
  position: absolute;
  right: 0;
  top: -1.5em;
  z-index: 100;
}
.actionBtn .delete,
.actionBtn .cancel {
  border-radius: 50%;
  color: #ffffff;
  padding: 0.85em;
  height: 3em;
  width: 3em;
}
.actionBtn .delete {
  background-color: #ff2339;
  margin-right: 0.5em;
}
.actionBtn .cancel {
  background-color: #ffba33;
}
.container {
  background: url("/bghistorycustom.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15em 3em;
  position: relative;
  z-index: 1;
}
.container::after {
  content: "";
  background-color: rgba(4, 10, 26, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.container h1,
.container h1 + p {
  text-shadow: 0px 4px 4px #000000cc;
}
.container h1 {
  color: #ffffff;
  text-align: center;
  padding-top: 0.5em;
  font-size: 2.4em;
  font-weight: 700;
}
.container h1 + p {
  color: #ffffff;
  font-size: 1.4em;
  padding-bottom: 1em;
  text-align: center;
}
.container {
  font-size: 62.5%;
}
.card {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(230, 230, 230, 0.281);
  cursor: pointer;
  display: flex;
  gap: 1.5em;
  padding: 2em 3em;
  position: relative;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}
.card:hover {
  outline: 2px solid #6a4029;
}
.card h4 {
  font-size: 1.6em;
  font-weight: 700;
  margin: 0;
}
.card span {
  color: #ffba33;
  display: block;
  font-size: 1.2em;
  font-weight: 600;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.151);
}
.modal .btnCancel:hover,
.modal .btnDelete:hover {
  color: #ffffff;
}
.modal .btnCancel:hover {
  background-color: #6a4029;
}
.modal .btnDelete:hover {
  background-color: #ff2339;
  border: 2px solid #ff2339;
}
.modal button {
  border: 2px solid #6a4029;
  font-size: 0.8em;
  padding: 1em 2em;
}
.modal h5 {
  font-weight: 600;
  text-align: center;
  width: 80%;
}
.modal h5 + div {
  margin-top: 3em;
  width: 70%;
}
.productImgContainer,
.productImgContainer img {
  border-radius: 50%;
}
.productImgContainer {
  width: 6em;
  height: 6em;
  position: relative;
}
.productImgContainer img {
  object-fit: cover;
}
.selectedCard {
  outline: 2px solid #6a4029;
  position: relative;
}
.selectedCard::after {
  background-color: rgba(24, 14, 8, 0.671);
  border-radius: 7.5px;
  content: "";
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.showActionBtn {
  display: inline-block;
}

/* For screen 768px above */
@media (min-width: 768px) {
  .container {
    padding: 15em 10em;
  }
  .container h1 {
    font-size: 3.2em;
  }
  .container h1 + p {
    font-size: 1.4em;
  }
  .card h4 {
    font-size: 1.8em;
  }
  .card span {
    font-size: 1.4em;
  }
}
