.container {
  padding: 8em 50px 0px 50px;
}

.dropdownSort {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
}
.titleSort {
  font-size: 20px;
  font-weight: 400;
  color: #4f5665;
  padding-left: 0;
  border: 0;
}
.boxImage {
  background-color: rgba(186, 186, 186, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.titleSort::after {
  margin-left: 10px;
}
.titleSort:hover,
.titleSort:active,
.titleSort:focus {
  outline: none !important;
  box-shadow: none !important;
}
.menuDropdown {
  width: 20%;
  background-color: #ffba33;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.listSort {
  font-size: 18px;
  font-weight: 600;
  color: #4f5665;
}

.listSort:hover,
.listSort:focus {
  border: 0;
  font-weight: 600;
  border-radius: 10px;
  background-color: #6a4029;
  color: white;
}

.titleProduct {
  font-size: 18px;
  font-weight: 700;
  color: #6a4029;
  margin-bottom: 0;
}

.left {
  padding: 0;
}

.boxLeft {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btnChoose {
  position: absolute;
  width: 300px;
  height: 60px;
  border-radius: 20px;
}
.boxDropzone {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btnChoose1 {
  width: 300px;
  height: 60px;
  border-radius: 20px;
}
.btnChoose1:hover,
.btnChoose1:active,
.btnChoose1:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btnSave {
  width: 300px;
  height: 60px;
  border-radius: 20px;
}
.btnSave1 {
  width: 100%;
  height: 60px;
  border-radius: 20px;
}
.btnCancel {
  margin-top: 20px;
  background-color: rgba(186, 186, 186, 0.35);
  width: 300px;
  height: 60px;
  border-radius: 20px;
  color: #4f5665;
}
.btnCancel1 {
  margin-top: 20px;
  background-color: rgba(186, 186, 186, 0.35);
  width: 100%;
  height: 60px;
  border-radius: 20px;
  color: #4f5665;
}
.btnCancel:hover,
.btnCancel:focus {
  background-color: #412719 !important;
  border-color: #412719 !important;
  color: white;
}
.btnCancel1:hover,
.btnCancel1:focus {
  background-color: #412719 !important;
  border-color: #412719 !important;
  color: white;
}
.formUserImage {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  width: max-content;
  height: 60px;
}
.boxUpdateImage {
  position: absolute;
  background-color: transparent;
  color: transparent;
  width: 300px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  visibility: visible;
  margin: auto;
  cursor: pointer;
  display: flex;
  z-index: 2;
}
.boxUpdateImage:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff !important;
  background-color: #6a4029 !important;
  border-color: #6a4029 !important;
}
.updateImage {
  width: 300px;
  color: transparent;
  height: 60px;
  border-radius: 20px;
  visibility: visible;
  margin: auto;
  cursor: pointer;
  z-index: 0;
  display: flex;
}

.form {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
}
.formGroup {
  width: 100%;
  margin-bottom: 30px;
}
.boxFormRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.formRow {
  width: 45%;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
}
.textLabel {
  font-size: 18px;
  font-weight: 700;
  color: #6a4029;
}

.placeholder {
  width: 100%;
  padding-left: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #4f5665;
  border-radius: 0;
  margin-right: 40px;
  background-color: transparent;
}
.placeholder::placeholder {
  color: #9f9f9f;
}
.placeholder:focus,
.placeholder:active,
.placeholder:hover {
  border-bottom: 2px solid #ffba33;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent;
}
.placeholder1 {
  padding-left: 0;
  border: 0;
  border-radius: 0;
  margin-right: 40px;
  background-color: transparent;
}
.placeholder1::placeholder {
  color: #9f9f9f;
}
.placeholder1:disabled {
  background-color: transparent !important;
}
.placeholder1:focus,
.placeholder1:active,
.placeholder1:hover {
  border: 0;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent;
}
.boxSize {
  margin-top: 20px;
  width: 100%;
  display: flex;
}
.buttonCoffee {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 100% !important;
}
.buttonFood {
  margin-right: 10px;
  background-color: rgba(186, 186, 186, 0.35);
  width: 60px;
  height: 60px;
  border-radius: 100% !important;
}

.buttonFood:hover,
.buttonFood:focus {
  background-color: #412719 !important;
  border-color: #412719 !important;
  color: white;
}
.menuDropdown1 {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  background-color: #6a4029;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: 0;
}
.menuDropdown1::-webkit-scrollbar-track {
  border: 1px solid #6a4029;
  padding: 2px 0;
  background-color: #9f9f9f;
  bottom: 0;
  border-radius: 5px;
}

.menuDropdown1::-webkit-scrollbar {
  width: 10px;
}

.menuDropdown1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #6a4029;
  background-color: #ffba33;
  border: 1px solid #6a4029;
}
.titleSort1 {
  width: 100%;
  font-size: 15px;
  font-weight: 400 !important;
  color: #9f9f9f;
  padding-left: 0;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleSort1::after {
  color: #4f5665;
  width: 10px;
}
.titleSort1:hover,
.titleSort1:active,
.titleSort1:focus {
  color: #9f9f9f;
  outline: none !important;
  box-shadow: none !important;
}
.dropdownSort1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
}

.formRow1 {
  width: 300px;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
}
.placeholder2 {
  padding-left: 0;
  /* border: 2px solid #9f9f9f; */
  border-radius: 0;
  width: 100%;
  border-radius: 20px;
  height: 60px;
  margin-right: 40px;
  background-color: white;
}
.placeholder2::placeholder {
  color: #9f9f9f;
}
.placeholder2:disabled {
  background-color: transparent !important;
}
.placeholder2:focus,
.placeholder2:active,
.placeholder2:hover {
  border: 0;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent;
}
.textFormDropdown {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #4f5665;
  margin-bottom: 0;
  padding-bottom: 0;
}
.titleSort2 {
  width: 100%;
  font-size: 15px;
  font-weight: 400 !important;
  color: #4f5665;
  padding-left: 0;
  border: 2px solid #9f9f9f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
}
.titleSort2::after {
  color: #4f5665;
  width: 10px;
}
.titleSort2:hover,
.titleSort2:active,
.titleSort2:focus {
  color: #9f9f9f;
  outline: none !important;
  box-shadow: none !important;
}

.formPromo {
  width: 100%;
  height: 100%;
  padding-top: 50px !important;
  padding-bottom: 100px !important;
  flex-direction: column;
  justify-content: space-between;
}

.listDiscount {
  font-size: 16px !important;
  font-weight: 600;
  color: #ffffff;
}

.listDiscount:hover,
.listDiscount:focus {
  border: 0;
  font-weight: 600;
  border-radius: 10px;
  background-color: #ffba33;
  color: #4f5665;
}

.placeholder3 {
  border: 2px solid #9f9f9f;
  width: 100%;
  border-radius: 20px;
  height: 60px;
  padding-left: 20px;
  background-color: white;
  margin-bottom: 20px;
}

.placeholder3:focus,
.placeholder3:active,
.placeholder3:hover {
  border: 2px solid #9f9f9f;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent;
}
.boxLeftPromo {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.img1 {
  border-radius: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 0.288);
  padding-top: 10%;
}

.modalTitle {
  color: #ffba33;
  font-weight: 600;
}

.modalFooter {
  background-color: #4d4b57;
  color: #412719;
  width: 100px;
}

.modalFooter:hover {
  background-color: #ffbb33;
  color: white;
  border: 0;
}

.modalHeader {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #6a4029;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-width: 900px) {
  .menuDropdown {
    width: max-content;
  }
}
