.container {
  font-size: 62.5%;
  padding-top: 7em;
  padding-bottom: 5em;
  background-color: #ebebeb;
}
.textPromo span {
  margin-left: 10px;
  font-weight: 700;
  color: #6a4029;
}
.lgImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.lgImageContainer {
  height: 20em;
  width: 20em;
  margin: 4em 0;
  border-radius: 100%;
}
.smImageContainer {
  height: 8em;
  width: 8em;
  border-radius: 50% !important;
}
.smImageContainer img {
  border-radius: 50% !important;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.boxSize {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5.5em;
}

.right_column_2 {
  border-radius: 10px;
}

.buttonCart,
.chooseSizeSection,
.checkoutSection,
.lgImageContainer {
  box-shadow: 0px 10px 25px 0px rgba(57, 57, 57, 0.212);
}

.chooseSizeSection {
  background-color: white;
  border-radius: 20px;
  height: auto;
  margin-top: 50px;
  width: 100%;
}

.checkoutSection {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-top: 3em;
  padding: 5em;
  width: 100%;
}
.countProduct {
  width: auto;
}
.countProduct h4 {
  font-size: 1.6em !important;
}
.quantity {
  padding: 0 1em;
  margin: 0;
  font-size: 1.4em;
  font-weight: 900;
}
.btnCount {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.5em;
}
.minus,
.plus {
  height: 0.7em !important;
  width: 0.7em !important;
  align-items: center;
  display: flex;
  padding: 1em;
  justify-content: center;
  font-weight: 800 !important;
}
.chooseSizeSection p {
  font-size: 20px;
  font-weight: 500;
  color: #6a4029;
  padding: 40px;
}

.chooseSizeSection h5 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: black;
}

.boxCheckout h4 {
  font-size: 25px;
  font-weight: 700;
}

.boxSize button {
  width: 5em;
  height: 5em;
  font-weight: 800;
  font-size: 1.6em;
}

.right_circle_image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.left {
  padding-left: 5.5em;
}

.textPromo {
  font-weight: 600;
  color: #4f5665;
}
.textPromo,
.textPromo span {
  font-size: 1.4em;
}
.row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.textDrink {
  width: 80%;
  font-size: 2.5em;
  font-weight: 800;
  text-align: center;
}

.textPrice {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 800;
  margin: 0.5em 0;
}
.buttonCart {
  width: 100%;
  height: 60px;
}
.countProduct h4 {
  width: 100%;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}
.boxCheckout {
  align-items: center;
  display: flex;
  margin-left: 10px;
}
.boxCheckout h4 {
  margin-right: 1em;
}
.btnCheckout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  border-radius: 50% !important;
}

/* For screen 768px below */
@media only screen and (max-width: 768px) {
}

/* For screen 576px below */
@media only screen and (max-width: 576px) {
  .left {
    padding-right: 50px;
  }
  .right {
    padding-left: 50px;
    padding-right: 50px;
  }
  .chooseSizeSection {
    width: 100%;
  }
  .chooseSizeSection p {
    font-size: 1.4em;
  }
  .chooseSizeSection h5 {
    font-size: 1.8em;
  }
  .checkoutSection {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .boxSize {
    padding-top: 1em;
  }
  .btnCheckout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    width: 4em;
  }
  .boxCheckout {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 0;
  }
  .boxCheckout h4 {
    margin: 0;
    margin-bottom: 0.5em;
  }
  .CountProduct h4 {
    text-align: center;
    font-size: 1.6em !important;
  }
  .countProduct {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
  }
  .quantity {
    margin-left: 0;
  }
  .boxSize button {
    font-size: 1em;
  }
  .textPromo,
  .textPromo span {
    font-size: 1.2em;
  }
  .lgImageContainer {
    height: 20em;
    width: 20em;
  }
  .smImageContainer {
    border-radius: 100%;
    height: 10em;
    width: 10em;
  }
  .smImageContainer img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
