/* For screen 768px above */
@media (min-width: 768px) {
  .container label {
    font-size: 1.6em !important;
  }
  .detailSection .nameInput {
    width: 50%;
  }
  .detailSection .additionalDetail {
    width: 35%;
  }
}

/* For small device 768px below */
.actionBtnSection {
  display: flex;
  flex-direction: column;
}
.actionBtnSection button {
  font-size: 1.4em;
  margin-bottom: 1em;
  padding: 1em 0;
  transition: transform 0.2s ease-in;
}
.actionBtnSection button:hover {
  transform: translateY(-0.1em);
}
.actionBtnSection h6 {
  color: #ffffff;
  margin-bottom: 2em;
  text-align: center;
}
.actionBtnSection button:nth-child(3) {
  margin-bottom: 2em;
}
.actionBtnSection .editPassword,
.actionBtnSection .logout {
  align-items: center;
  color: #6a4029;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}
.actionBtnSection .editPassword:hover,
.logout:hover,
.logout:focus {
  color: #412719 !important;
}
.avaContainer,
.userAvatar {
  border-radius: 50%;
}
.avaContainer {
  align-items: center;
  display: flex;
  height: 8em;
  justify-content: center;
  position: relative;
  width: 8em;
}
.userAvatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.avaContainer .edit {
  bottom: 0;
  right: -5px;
  height: 2em !important;
  width: 2em !important;
}
.avaContainer .upload,
.avaContainer .uploading {
  bottom: 0;
  right: -5px;
  height: 3.2em !important;
  width: 3.2em !important;
}
.avaContainer .uploading {
  cursor: progress !important;
}
.avaContainer .upload,
.avaContainer .uploading,
.avaContainer .edit,
.contactSection .edit,
.detailSection .edit {
  align-items: center;
  background-color: #6a4029;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 3em;
  justify-content: center;
  position: absolute;
  width: 3em;
  transition: transform 0.2s ease-in-out;
}
.avaContainer .upload:hover,
.avaContainer .edit:hover,
.contactSection .edit:hover,
.detailSection .edit:hover {
  transform: scale(1.1);
}
.avaContainer .edit img {
  width: 0.7em;
}
.contactSection .edit img,
.detailSection .edit img {
  width: 1em;
}
.actionBtnSection,
.contactSection,
.detailSection {
  height: 100%;
}
.contactSection,
.detailSection {
  position: relative;
}
.contactSection .edit,
.detailSection .edit {
  right: 5em;
}
.contactSection h5,
.contactSection input,
.detailSection h5,
.detailSection input {
  margin-bottom: 2em;
}
.contactSection textarea {
  border: 1.4px solid #6a4029 !important;
  height: 3.5em;
}
.container {
  background-image: url("/profile-img-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 62.5%;
  padding: 15em 5em 5em;
  position: relative;
  z-index: 0;
}
.container::after {
  background-color: rgba(43, 28, 18, 0.7);
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.container h1 {
  color: #ffffff;
  font-size: 3.5em;
  margin-bottom: 1em;
}
.container h1 {
  font-weight: 500;
}
.container h4 {
  margin-bottom: 1.5em;
}
.container h5 {
  font-size: 1.5em;
  padding-bottom: 0.16em;
}
.container h5,
.container input {
  border-bottom: 1.4px solid #6a4029 !important;
}
.container h5,
.container input,
.container label {
  font-weight: 600;
}
.container input {
  border-radius: 0;
  border-style: none;
  padding: initial 0;
}
.container input:focus {
  border-color: #6a4029;
}
.container label {
  color: #9f9f9f;
  font-size: 1.3em;
}
.contactSection,
.detailSection,
.imageSection {
  background-color: #ffffff;
  border-radius: 10px;
}
.actionBtnSection,
.contactSection,
.detailSection,
.imageSection {
  padding: 3.5em 5em;
}
.imageSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.imageSection::after,
.contactSection::after,
.detailSection::after {
  content: "";
  background-color: #6a4029;
  border-radius: 0 0 0.8em 0.8em;
  bottom: 0;
  height: 1em;
  left: 0;
  position: absolute;
  width: 100%;
}
.imageSection .remove {
  font-size: 1.2em;
  padding: 1em 3em;
}
.imageSection h3,
.container h4,
.container h6 {
  font-weight: 700;
}
.imageSection h3 {
  font-size: 2.2em;
  margin-top: 1em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
}
.imageSection img {
  object-fit: cover;
}
.imageSection input {
  display: none;
}
.imageSection span {
  font-size: 1.2em;
  margin-bottom: 2em;
}
.passwordModal button {
  font-size: 0.8em !important;
  padding: 1em 3em;
}
.modalBody {
  padding: 2em 1em;
}
.toastGroup {
  position: fixed;
  left: 20px;
  top: 100px;
  z-index: 100;
}
.toast {
  margin-bottom: 0.5em;
}
.errorAlert,
.successAlert {
  font-size: 0.8em;
}
.errorAlert {
  background-color: #ff9aa4;
  color: #b91929;
}
.successAlert {
  background-color: #e9ffd5;
  color: #64b618;
}
