/* For screen 768px above */
@media (min-width: 768px) {
  .brand .brandLogo {
    width: 2em !important;
  }
  .leftBanner {
    display: block !important;
    background-image: url("/auth-img-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  .rightSide {
    padding: 5em 10em !important;
  }
  .signupForm h1,
  .overflowCard h2 {
    font-size: 3em !important;
  }
  .signupForm input,
  .signupForm label,
  .signupForm .googleBtn,
  .signupForm .signupBtn {
    font-size: 1.5em !important;
  }
  .brand span,
  .overflowCard button,
  .loginBtn {
    font-size: 1.1em !important;
  }
  .overflowCard {
    position: absolute;
    bottom: -58em;
    left: 0;
    right: 0;
    align-items: center;
    flex-direction: row !important;
    justify-content: space-between;
    margin: 0 18em !important;
    padding: 5em 8em !important;
  }
  .overflowCard button {
    height: fit-content;
    margin: 0 !important;
    padding: 1.2em 5em !important;
  }
  .overflowCard div {
    width: 40%;
  }
  .rightSide {
    padding-bottom: 30em !important;
  }
}

/* For screen 1280px above */
@media (min-width: 1280px) {
  .brand .brandLogo {
    width: 3em !important;
  }
  .signupForm h1,
  .overflowCard h2 {
    font-size: 3.5em !important;
  }
  .signupForm input,
  .signupForm .googleBtn,
  .signupForm .signupBtn {
    font-size: 2em !important;
  }
  .brand span,
  .overflowCard button,
  .loginBtn {
    font-size: 1.6em !important;
  }
}

/* Small device (768px below) */
.brand {
  align-items: center;
  display: flex;
}
.brand span,
.overflowCard h2 {
  color: #0b132a;
}
.brand .brandLogo {
  margin-right: 0.5em;
  width: 1.7em;
}
.leftBanner {
  display: none;
}
.brand span,
.signupForm h1,
.signupForm label {
  font-weight: 700;
}
.signupForm {
  margin-top: 6em;
}
.signupForm h1 {
  color: #6a4029;
}
.signupForm h1,
.overflowCard h2 {
  font-size: 2.5em;
}
.signupForm h1 {
  text-align: center;
}
.signupForm div {
  margin-top: 4em;
}
.signupForm div:nth-child(4) {
  margin-bottom: 6em;
}
.signupForm input {
  border: 1px solid #4f5665;
  font-weight: 600;
}
.signupForm input,
.signupForm .googleBtn,
.signupForm .signupBtn,
.overflowCard button {
  border-radius: 1em;
  font-size: 1em;
  padding: 1.5em 2em;
}
.signupForm .googleBtn {
  box-shadow: 0px 6px 20px 0px #c4c4c4ab;
  margin-top: 1.6em;
}
.signupForm .signupBtn {
  box-shadow: 0px 6px 20px 0px #ffba3366;
}
.signupForm .googleIcon {
  width: 1.5em;
  margin-right: 0.4em;
}
.signupForm .signupBtn,
.signupForm .googleBtn {
  width: 100%;
}
.outerContainer {
  display: relative;
  font-size: 62.5%;
}
.overflowCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 20px 0px #c4c4c4ab;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  padding: 2em;
}
.overflowCard button {
  margin-top: 1.5em;
}
.signupForm label,
.overflowCard span {
  color: #4f5665;
}
.loginBtn {
  font-size: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
