/* For screen 768px above */
@media (min-width: 768px) {
  .brand .brandLogo {
    width: 2em !important;
  }
  .errorAlert {
    font-size: 1.3em !important;
  }
  .leftBanner,
  .rightSide {
    height: 100%;
  }
  .leftBanner {
    display: block !important;
    background-image: url("/auth-img-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .leftBanner::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .signupForm h1,
  .overflowCard h2 {
    font-size: 3em !important;
  }
  .signupForm input,
  .signupForm label,
  .signupForm .googleBtn,
  .signupForm .signupBtn {
    font-size: 1.5em !important;
  }
  .brand span,
  .overflowCard button,
  .overflowCard span,
  .loginBtn {
    font-size: 1.1em !important;
  }
  .successAlert p {
    font-size: 1.3em;
  }
  .overflowCard {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px #c4c4c4ab;
    display: flex !important;
    height: 22em;
    justify-content: space-between;
    margin: 0 10em;
    padding: 0 8em;
    position: absolute;
    bottom: -57em;
    left: 0;
    right: 0;
  }
  .overflowCard button {
    height: fit-content;
    margin: 0;
    padding: 1.2em 5em;
  }
  .overflowCard div {
    width: 40%;
  }
  .overflowCard h2 {
    font-weight: 600;
  }
  .overflowCard span {
    font-size: 1.4em !important;
  }
  .rightSide {
    padding: 5em 10em 0 !important;
  }
  .stackCard {
    display: none !important;
  }
}

/* For screen 1300px above */
@media (min-width: 1300px) {
  .brand .brandLogo {
    width: 3em !important;
  }
  .signupForm h1,
  .overflowCard h2 {
    font-size: 3.5em !important;
  }
  .signupForm input,
  .signupForm .googleBtn,
  .signupForm .signupBtn {
    font-size: 2em !important;
  }
  .brand span,
  .overflowCard button,
  .loginBtn {
    font-size: 1.6em !important;
  }
  .overflowCard {
    height: 27em;
    bottom: -76em;
  }
  .outerContainer {
    height: 130em !important;
  }
}

/* Small device (768px below) */
.brand {
  align-items: center;
  display: flex;
}
.brand span,
.overflowCard h2,
.stackCard h2 {
  color: #0b132a;
}
.brand .brandLogo {
  margin-right: 0.5em;
  width: 1.7em;
}
.leftBanner {
  display: none;
}
.brand span,
.signupForm h1,
.signupForm label {
  font-weight: 700;
}
.errorAlert {
  display: block;
  color: #ff2339;
  font-size: 1em;
  font-weight: 700;
  margin-top: 0.5em;
}
.errorBorder {
  border: 1.4px solid #ff2339 !important;
}
.signupForm {
  margin-top: 6em;
}
.signupForm h1 {
  color: #6a4029;
  margin-bottom: 1.5em;
}
.signupForm h1,
.stackCard h2 {
  font-size: 2.5em;
}
.signupForm h1 {
  text-align: center;
}
/* .signupForm .email {
  margin-top: 4em;
} */
.signupForm div {
  margin-top: 2.2em;
}
.signupForm .phone {
  margin-bottom: 6em;
}
.signupForm input {
  border: 1px solid #4f5665;
  font-weight: 600;
}
.signupForm input:focus {
  border: 1px solid #6a4029;
}
.signupForm input,
.signupForm .googleBtn,
.signupForm .signupBtn,
.stackCard button {
  border-radius: 1em;
  font-size: 1em;
  padding: 1.5em 2em;
}
.signupForm .googleBtn {
  box-shadow: 0px 6px 20px 0px #c4c4c4ab;
  margin-top: 1.6em;
}
.signupForm .signupBtn {
  box-shadow: 0px 6px 20px 0px #ffba3366;
}
.signupForm .googleIcon {
  width: 1.5em;
  margin-right: 0.4em;
}
.signupForm .signupBtn,
.signupForm .googleBtn {
  width: 100%;
}
.signupBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.successAlert {
  transition: all 0.5s ease-in-out;
  align-items: center;
  background-color: rgb(233, 255, 213);
  border-radius: 5px;
  display: flex;
  padding: 2em;
}
.successAlert p {
  font-weight: 700;
  margin-bottom: 0;
}
.successAlert svg {
  color: rgb(107, 221, 0);
  font-size: 4em;
  margin-right: 0.2em;
}
.outerContainer {
  display: relative;
  font-size: 62.5%;
  height: 110em;
}
.overflowCard {
  display: none;
}
.stackCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 20px 0px #c4c4c4ab;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  padding: 3em;
}
.stackCard button {
  margin-top: 1.5em;
}
.signupForm label,
.overflowCard span,
.stackCard span {
  color: #4f5665;
}
.loginBtn {
  font-size: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
